<div class="banner" style="background-image: asset-url('bannerimg.jpg');">
  <div class="container">
    <h1><strong>V</strong>illars <strong>B</strong>n<strong>B</strong></h1>
    <p>The AirBnB Management Solution in Villars</p>
    <%= link_to "Enroll", contact_path, class: "btn-flat" %>
  </div>
</div>
